<section>
  <div class="container w3-container w3-padding-32">

    <div id="wrapper-bottom">
      <div class="container">
        <form action="/registration" method="post">
          <label for="email">User Email</label>
          <input id="email" name="email" class="form-control" type="email" placeholder="student@myseneca.ca" tabindex="1" />

          <label for="password">Password</label>
          <input id="password" class="form-control" type="text" placeholder="123qwe123" tabindex="2" />

          <label for="address">Home Address</label>
          <input id="address" name="address" class="form-control" type="text" placeholder="61 Main street" tabindex="3" />

          <label for="phoneNumber">Phone Number</label>
          <input id="phoneNu" name="phoneNu" class="form-control" type="phoneNumber" placeholder="123-123-1234" tabindex="4" />

          <textarea name="desc" id="desc" cols="30" rows="10" placeholder="Tell us about your problem"></textarea>
          {{#each errorMassages}}
          <div>{{this}}</div>
          {{/each}}
          <div id="button">
            <input class="btn btn-primary" type="submit" value="sumbit">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>