*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
div{
  display: block;
}
/* Main page of header */
.maxWidth{
  width: 100%;
  max-width: 1364px;
  min-width: 768px;
  margin: auto;
}



.top-bar{
    display: flex;
    padding-top: 6px;
    width: 100%;
}

.linking ul li{
    display: inline-flex;
    margin-right: 2.5em;
    font-size: 1.2em;
    text-transform: uppercase;

}

.linking{
   
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5;
}

.linking a{
    color: grey;
    text-decoration: none;
    transition: color 0.5s;
}

.linking>ul>li:hover{
    border-bottom: 1px solid black;    
}

.linking a:hover{
   color: black;    
}

.right-side li:first-child{
    margin-right: 7em;
    font-size: 30px;
    font-family: "Ballet";
}

#footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 60px;/*脚部的高度*/
    background: #6cf;
    clear:both;
}
.footer{
    border-top: 1px solid;
    /* margin-top: 4em; */
    /* margin-bottom: 3em; */
    color: rgb(5, 10, 83);
}

/* .footer-link{
  margin-top: 9px;
  margin-left: 8px;
} */

/* index */
.imageController{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#carouselExampleIndicators{
    display: flex;
    margin: 0 auto;
    margin-top: auto;
    width: 70%;
    height: 400px;
}

/* feature movie and Tv show */
.feature-block{
  padding: 19px;
  border-bottom: 1px solid rgb(151, 151, 151);
}
.movie-section{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  font-family: "Ballet";
}

.movies{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.featured-movie-img{
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  margin: 10px;
}

.featured-movie-img img{
  width: 100%;
  height: 100%;
}



/* product-list */
.product-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.products{
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  margin: 8px;
}

.products img {
  width: 100%;
  height: 100%;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.movieTitle{
  color: rgb(34, 86, 163);
  font-family: "Ballet";
  font-size: 17px;
}



/* product details */
.detail-container{
  margin-bottom: 2em;
  font-family: "Ballet";
  font-size: 20px;
}
.context img{
  float: left;
  max-width: 30%;
  max-height: 30%;
  width: 100%;
  height: 100%;
  margin-right: 40px;
}

.detail-big{
  margin:auto;
  width: 100%;
  padding-top: 70px;
}

.d-block{

  max-width: 100%;
  max-height: 400px;
  width: 100%;
  height: 100%;
}




/* registration page */
#wrapper-top {
    flex: 2;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: 1.5em;
  }
  
  #wrapper-bottom {
    flex: 8;
  }
  
  #wrapper-top-right a:hover {
    color: lightskyblue;
    border-bottom: 1px solid skyblue;
  }
  form {
    margin-top: 2em;
    max-width: auto;
    min-width: auto;
  
    display: grid;
    grid-gap: 15px;
  }
  
  form label {
    font-size: 1.2em;
  }
  
  form input {
    padding: 0.4px;
    font-size: 1.1em;
  }

  .errors{
    color: red;
  }

  /* sign in page */

  .login-box {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)
}

.login-snip {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(0, 77, 77, .9)
}



.login-snip .tab,
.login-space .group .label,
.login-space .group .button {
    text-transform: uppercase
}

.login-snip .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent
}

.login-snip .sign-in:checked+.tab,
.login-snip .sign-up:checked+.tab {
    color: #fff;
    border-color: #1161ee
}

.login-space {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d
}

.login-space .group {
    margin-bottom: 15px
}

.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
    width: 100%;
    color: #fff;
    display: block
}

.login-space .group .input,
.login-space .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1)
}

.login-space .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle
}

.login-space .group .label {
    color: #aaa;
    font-size: 12px
}

.login-space .group .button {
    background: #1161ee
}

.login-space .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1)
}

.login-space .group label .icon:before,
.login-space .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s
}

.login-space .group .check:checked+label {
    color: #fff
}

.login-space .group .check:checked+label .icon {
    background: #1161ee
}

a {
    color: inherit;
    text-decoration: none
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2)
}

.foot {
    text-align: center
}

.card {
    width: 500px;
    left: 100px
}

::placeholder {
    color: #b3b3b3
}


/* list users */
.list-users{
  display:ruby-base-container;
  
}

.list-line{
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid black ;

}

span{
  float: right;
}















